<div class="container">
    <div class="img">
        <img src="../../../assets/images/About/mulher sentada na cadeira.png" alt="">
    </div>

    <div class="texto">
        <h1>Quem somos?</h1>
        <h4>Na UpCommerce, somos apaixonados por transformar ideias em soluções digitais.
            Com anos de experiência no mercado, nossa missão é ajudar empresas a conquistarem 
            espaço no mundo online com tecnologia de ponta, design moderno e estratégias eficazes.       
        </h4>
        
        <ul>
            <li> - Equipe especializada em desenvolvimento web</li>
            <li> - Atendimento personalizado</li>
            <li> - Soluções sob medida para o seu negócio</li>
            <li> - Comprometimento com o resultado do cliente</li>
        </ul>
        
        <p>Juntos, digitalizamos o futuro da sua empresa. </p>
    </div>
</div>